<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Recipie | Home</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <nav
      id="nav-bar"
      data-aos="fade-down"
      data-aos-duration="1500"
      data-aos-easing="linear"
    >
      <span class="open-slide">
        <a id="ham-link" href="#">
          <img id="hamburger" src="/images/ham.png" alt="" />
        </a>
      </span>
      <ul id="nav-items">
        <li class="nav-item">
          <a class="nav-text active" href="#"> home </a>
        </li>
        <li class="nav-item">
          <a class="nav-text" href="/signup"> signup </a>
        </li>
        <li class="nav-item">
          <a class="nav-text" href="/login"> login </a>
        </li>
      </ul>
    </nav>

    <div id="side-menu" class="side-nav"></div>

    <div id="main-area-container">
      <div class="item-1">
        <h1 id="some-talk">It is well said,</h1>
        <h1 id="quote">
          “One cannot think well, love well, sleep well, if one has not dined
          well.”
        </h1>
      </div>

      <div class="item-2">
        <img id="food" src="/images/food.png" alt="" />
      </div>
    </div>

    <script src="/js/index.js"></script>
  </body>
</html>
